#category {
  width: 27%;
  padding-left: 5%;
  margin-top: 0;
  /* border: 1px solid black; */
}
#category-1 {
  width: 100%;
  padding-left: 5%;
  margin-top: 0;
  display: flex;
  /* border: 1px solid black; */
}

#category p {
  color: rgb(112, 109, 109);
}
#category p:hover {
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

#category hr {
  width: 90%;
  margin-right: 11%;
}

#category h3 {
  margin-top: 40px;
  font-weight: 600;
}

#category input,
#categg,
#disc {
  cursor: pointer;
}

#inp2 {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  #category {
    width: 90%;
    /* display: flex; */
    margin-left: 10%;
    padding: 0;
  }
  hr {
    display: none;
  }
  #categg {
    width: 88%;
  }
  #disc {
    width: 80%;
  }
  #show {
    display: flex;
    width: auto;
    scroll-behavior: smooth;
    overflow-x: auto;
    margin-bottom: 20px;
  }
  #show p {
    min-width: max-content;
    padding: 10px;
    margin: auto 12px;
    background-color: rgb(228, 228, 228);
    color: black;
    font-weight: 600;
    border-radius: 30px;
  }
}

@media (max-width: 740px) {
  #show p {
    font-size: small;
  }
}
