#height-alter {
  height: 100px;
}
#coupon {
  font-size: 60px;
  margin-top: 65px;
  margin-left: 65px;
  margin-bottom: 25px;
}
#coupon-p {
  margin-top: 0;
  margin-left: 65px;
  color: gb(14, 14, 15);
}
#flex-box {
  display: flex;
  margin-top: 100px;
}

#products {
  width: 95%;
  padding-left: 10%;
}
#data {
  width: 90%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

#box {
  position: relative;
}
#save {
  position: absolute;
  z-index: 90;
  color: white;

  /* top: 0; */
  bottom: 60px;
  left: 20px;
}
#save h1 {
  margin-bottom: 0;
}
#save h2 {
  margin-top: 0;
  font-size: 180%;
}
#box img {
  width: 90%;
  border-radius: 20px;
  margin-top: 20px;
}
#box p {
  font-weight: bold;
}
#inputt {
  width: 85%;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
  outline: none;
  font-size: large;
}

@media (max-width: 1000px) {
  #data {
    width: 95%;
  }
  #products {
    width: 90%;
    /* border: 1px solid black; */
  }

  #inputt {
    width: 88%;
    margin-top: 40px;
  }
  #flex-box {
    display: block;
    margin-top: 50px;
  }
}
@media (max-width: 740px) {
  body {
    min-width: 320px;
  }
  #coupon {
    font-size: 40px;
    margin-left: 45px;
    margin-top: 15px;
  }
  #coupon-p {
    font-size: x-small;
    margin-left: 45px;
  }
  #save h1,
  #save h2 {
    font-size: x-large;
  }
  span {
    font-size: small;
  }
}
@media (max-width: 600px) {
  #products {
    padding-left: 7%;
  }
  #coupon {
    font-size: 25px;
    margin-left: 20px;
  }
  #coupon-p {
    font-size: xx-small;
    margin-left: 20px;
  }
  #data {
    display: grid;
    grid-template-columns: 48% 48%;
  }
  #products {
    width: 100%;
  }
  #inputt {
    width: 85%;
  }
  #save h1,
  #save h2 {
    font-size: large;
  }
}
