#height-alter {
  height: 100px;
}
#coupon {
  font-size: 60px;
  margin-top: 65px;
  margin-left: 65px;
  margin-bottom: 25px;
}
#coupon-p {
  margin-top: 0;
  margin-left: 65px;
  color: gb(14, 14, 15);
}
#flex-box {
  display: flex;
}
#category {
  width: 27%;
  border: 1px solid black;
}
#data {
  width: 69%;
  border: 1px solid black;
}
